body {
    font-family: Arial, sans-serif;
  }
  
  h2 {
    margin-bottom: 20px;
  }
  
  .carousel-inner img {
    height: 60vh;
    object-fit: cover;
  }
  
  .container {
    margin-top: 50px;
  }
  
  footer {
    position: fixed;
    width: 100%;
    bottom: 0;
  }
  